
fastapi
uvicorn[standard]
SQLAlchemy
alembic
pydantic
pydantic-settings
psycopg2-binary
python-dotenv
python-jose
python-jose[cryptography]
opencv-python-headless
qrcode 
numpy 
pillow
python-multipart
opencv-python
pydantic[email]
passlib[bcrypt]
